{% extends 'web/base.html' %}
{% load bootstrap4 %}

{% block title%} FireFighterDiary - Login {%endblock%}

{% block LoginError %}

    {% if not error == None %}
        <p class="text-danger text-uppercase font-weight-bold">{{ error }}</p>
    {% endif %}
    
{% endblock %}

{% block authForm%}

<form action="" method="post">
    {% csrf_token %}
    {% bootstrap_form login_form %}
    <button type="submit" class="btn btn-warning btn-lg">Login</button>
</form>

{% endblock%}

{% block regOrLog%}

<div class="d-flex justify-content-center links text-light mt-3 mt-lg-0">
    Noch kein Account? - <a class="text-light" href="{% url 'web:register' %}"> - Registrieren</a>
</div>

{% endblock%}