{% extends 'web/base.html' %}
{% load bootstrap4 %}

{% block title%} FireFighterDiary - Account erstellen {%endblock%}

{% block authForm%}
<form action="" method="post">
    {% csrf_token %}
    {% bootstrap_form register_form %}
    <button type="submit" class="btn btn-warning">Registrieren</button>
</form>

{% endblock%}

{% block regOrLog%}

<div class="d-flex justify-content-center links text-light mt-3 mt-lg-0">
    Schon registriert? - <a class="text-light" href="{% url 'web:login' %}"> - Login</a>
</div>

{% endblock%}