{% extends 'blog/base.html' %}
{% load bootstrap4 %}

{% block BlogMenu %}

    <div class="row pt-3">
        <h1 class="col-8">Einsatz eintragen</h1>
        <div class="row menu pt-lg-2 col-4  justify-content-end ">
            <!-- <a class="col-2 pe-4 pt-1" href="{% url 'blog:dashboard' %}"><span class="material-icons fs-1 text-dark">arrow_back</span></a> -->
            <a class="col-2 pe-4 pt-1" href="{% url 'web:logout' %}"><span class="material-icons fs-1 text-danger">logout</span></a>
        </div>
    </div>

{% endblock %}

{% block blogContent %}

    {% if request.user.is_authenticated %}

        <form class="form-inline" action="{% url 'blog:add_content' %}" method="post">

            {% csrf_token %}
            {% bootstrap_form post_form layout='inline' %}
            <br>
            <button type="submit" class="btn btn-warning">Eintragen</button>
            <a class="btn btn-danger active" href="{% url 'blog:dashboard' %}">Abbrechen</a>

        </form>
    {% else %}
    {% endif %}
        
{% endblock %}